*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://cdn.pixabay.com/photo/2018/05/04/18/37/technology-3374658_960_720.jpg);
    min-height: 100vh;
    background-size: cover;
}
.content{
    width: 100%;
    height: 100vh;
    background: #0006;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timing{
    font-size: 40px;
}
.content h2{
    font-size: 100px;
    font-weight: 900;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content a{
    text-decoration: none;
    color: #111;
    background-color: white;
    padding: 10px 35px;
    border-radius: 50px;
    margin-top: 15px;
}
.content p{
    margin: 0px auto;
    width: 35%;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.9;
    overflow: 15px 0px;
}